

<section id="content">
<%= form_for @user ,:as => :user, :url => user_create_path, :method => 'post' do |f| %>
  <h1>Register Hear</h1>

 <% if @user.errors.any? %>
<div class="error_messages">
<h2>Form is invalid</h2>
<ul>
<% for message in @user.errors.full_messages %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>
<p>
  <%= f.text_field :first_name, :placeholder => "First Name", :id => "username" %>
</p>

<p>
 <%= f.text_field :last_name, :placeholder => "Last Name", :id => "username" %>
</p>

<p>
<div class="">
  <%= f.text_field :email, :placeholder => "E-mail" , :id => "username"%>
</div>
</p>

<p>
  <%= f.password_field :password, :placeholder => "Password", :id => "password" %>
</p>

<p>
  <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :id => "password" %>
</p>
<p>
  <%= f.submit "Register" %>
</p>

<% end %>
</section>