<section id="content">


<%= form_for @user ,:as => :user, :url => user_login_path, :method => 'post'  do |f| %>
  <h1>Login Form</h1>
 <% if @user.errors.any? %>
<div class="error_messages">
<h2>Form is invalid</h2>
<ul>
<% for message in @user.errors.full_messages %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>
  <%= f.text_field :email, :placeholder => "E-mail" %>
  <%= f.password_field :password , :placeholder => "Password"%>
  <%= f.submit "Login" %>

<% end %>
  <%= link_to "Register", registration_path%>
</section>
