<!DOCTYPE html>
<html>
<head>
  <title>DemoWeb</title>
  <link rel="shortcut icon" href="http://d15dxvojnvxp1x.cloudfront.net/assets/favicon.ico">
  <link rel="icon" href="http://d15dxvojnvxp1x.cloudfront.net/assets/favicon.ico">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <style>
    table{

      padding: 20px;
      margin: 0 auto;
      width: 100%;
      height: auto;
}
table td{

  padding: 10px;
}
table th{
  padding: 10px;
background-color: lightblue;
}


  </style>
</head>
<body>
  <div class="container">
  <input name="authenticity_token"
              type="hidden"
              value="<%= form_authenticity_token %>"/>

<%= yield %>
  </div>
</body>
</html>
